body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#plyer-one{
    background-color: #00ffff;
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#plyer-two{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    direction: rtl;
    background-color: aqua;
    width: 100%;
    height: 20%;
    gap: 20px;
}

.symbol-x{
    /* width: 20%; js*/
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    border-bottom-right-radius: 16px;
    font-size: 50px;
    text-align: center;
}
.symbol-o{
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    border-top-left-radius: 16px;
    font-size: 50px;
    text-align: center;
}

.score{
    padding: 2%;
    border-radius: 16px;
    background-color: firebrick;
    text-align: center;
}
.game-over{
    width: fit-content;
    padding: 5px;
    color: salmon;
    background-color: darkblue;
    height: fit-content;
    border-radius: 5px;
}

#game{
    background-color: forestgreen;
    height: 60%;
}


#parameters{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.chosses{
    height: 100px;
    position: absolute;
    top: -100px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#parameters:hover .chosses{
    display: flex;
}

.lyer{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background-color: blue;
    /* gap: auto; */
}

.red{
    background-color: red;
    width: 90%;
    height: 90%;
    margin: auto;
}
.orchid{
    background-color: orchid;
    width: 90%;
    height: 90%;
    margin: auto;
}
.yellow{
    background-color: yellow;
    width: 90%;
    height: 90%;
    margin: auto;
}